<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
<title>Listagem dos Produtores</title>
</head>
<body>

		<div class="content-wrapper" layout:fragment="corpo">
			<div class="panel panel-default">
				<div class="panel-heading">
			<strong>Produtor</strong>
				</div>
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-sm table-striped table-hover table-bordered">
							<thead>
								<tr class="text-center">
									<th>ID</th>
									<th>Nome</th>
									<th>Apelido</th>
									<th>CPF</th>
									<th>Descrição</th>
									<th>Ações</th>
								</tr>
							</thead>
							<tbody>
								<tr class="text-center" th:each="produtor : ${produtores}">
									<td th:text="${produtor.id}"></td>
									<td th:text="${produtor.nome}"></td>
									<td th:text="${produtor.apelido}"></td>
									<td th:text="${produtor.cpf}"></td>
									<td>
		                            	<button type="button" class="btn btn-secondary btn-sm" data-container="body"
		                                    data-toggle="popover" data-placement="top" th:attr="data-content=${#strings.concat(
			                                    produtor.descricao, ', ',
		                                    )}">		                                
		                                	<i class="fa fa-eye" aria-hidden="true"></i>
		                            	</button>
		                        	</td>
									<td>
										<div class="btn-group pull-right">
									   		<a class="btn btn-sm btn-primary" th:href="@{/produtor/edit/{id}(id=${produtor.id})}" >Editar</a>
									   		<a class="delete btn btn-sm btn-danger" th:href="@{/produtor/delete/{id}(id=${produtor.id})}">Excluir</a>
									   </div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="panel-footer">
					<a class="btn btn-sm btn-success" th:href="@{/produtor/add}" >Adicionar Nova</a>
				</div>

			</div>
		</div>
	
</body>
</html>