<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
<title>Listagem de Tanques</title>
</head>
<body>

		<div class="content-wrapper" layout:fragment="corpo">
			<div class="panel panel-default">
				<div class="panel-heading">
			<strong>Tanques</strong>
				</div>
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-sm table-striped table-hover table-bordered">
							<thead>
								<tr class="text-center">
									<th>ID</th>
									<th>Nome do Tanque</th>
									<th>Capacidade</th>
									<th>Qtd. Atual</th>
									<th>Qtd. Restante</th>
									<th>Localização</th>
									<th>Data de Criação</th>
									<th>Descrição</th>
									<th>Responsável</th>
									<th>Ações</th>
								</tr>
							</thead>
							<tbody>
								<tr class="text-center" th:each="tanque : ${tanques}">
									<td th:text="${tanque.id}"></td>
								    <td th:text="${tanque.nome}"></td>
								    <td th:text="${tanque.capacidade}"></td>
								    <td th:text="${tanque.qtdAtual}"></td>
								    <td th:text="${tanque.qtdRestante}"></td>
								    <td th:text="${tanque.localizacao}"></td>
								    <td th:text="${tanque.dataCriacao}"></td>   
								    <td>
		                            	<button type="button" class="btn btn-secondary btn-sm" data-container="body"
		                                    data-toggle="popover" data-placement="top" th:attr="data-content=${#strings.concat(
			                                    tanque.descricao, ', ',
		                                    )}">		                                
		                                	<i class="fa fa-eye" aria-hidden="true"></i>
		                            	</button>
		                        	</td>
								    <td><div th:each="responsavel : ${tanque.responsavel}" >
										<div th:text= "${responsavel.nome}" ></div>								
									</div></td>
									<td>
										<div class="btn-group pull-right">
											<a class="btn btn-sm btn-info" th:href="@{/tanque/details/{id}(id=${tanque.id})}" >Detalhes</a>
									   		<a class="btn btn-sm btn-primary" style="margin-left: 5px" th:href="@{/tanque/edit/{id}(id=${tanque.id})}" >Editar</a>
									   		<a class="delete btn btn-sm btn-danger" style="margin-left: 5px" th:href="@{/tanque/delete/{id}(id=${tanque.id})}">Excluir</a>
									   </div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="panel-footer">
					<a class="btn btn-sm btn-success" th:href="@{/tanque/add}" >Adicionar Novo</a>
				</div>

			</div>
		</div>
	
</body>
</html>